.form-group
  label(for="fullname") Full name
  input#fullname.form-control(name="fullname", type="text", value=contact.name)
.form-group
  label(for="job") Job/position
  input#job.form-control(name="job", type="text", value=contact.job)
.form-group
  label(for="nickname") Nickname
  input#nickname.form-control(name="nickname", type="text", value=contact.nickname)
.form-group
  label(for="email") E-mail address
  input#email.form-control(name="email", type="email", value=contact.email)