extend layout

block content
  h1 Your contacts
  p Here is a list of your contacts.
  p
    a#delete.btn.btn-default(hrer="#") Delete
    a#add.btn.btn-default(href="/contacts/add") Add new
  table.table
    thead
      tr
        th
        th Name
        th Nickname
        th Email
    tbody#table-body
